html {
  scroll-behavior: smooth;
  --color_primary: hsl(0, 18%, 88%);
  --color_secondary: hsl(0, 25%, 45%);
  --color_tertiary: hsl(0, 37%, 77%);
  --color_quaternary: hsl(36, 24%, 22%);
  --color_quinary: hsl(0, 8%, 91%); 
  --color_link: hsl(0, 100%, 27%);
  --color_text: hsl(0, 0%, 15%);
  --color_lightestForContrast: white;
  --color_aboutthepage: hsl(56, 100%, 97%);
  --color_shadow: hsla(0, 25%, 13%, 0.6);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color_link);
}

.quote {
  font-weight: 600;
  font-style: italic;
}

.quote::before,
.quote::after {
  content: '"';
}

h2, h3, dl {
  font-weight: 400;
  margin: 0;
}

h2 {
  background: var(--color_secondary);
  color: var(--color_lightestForContrast);
}

h3 {
  background: var(--color_tertiary);
}

dt {
  font-weight: 600;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: large;
  color: var(--color_text);
  line-height: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  width: 100vw;
  height: 100vh;
  
  overflow-x: hidden;
}

.wrapper {
  box-shadow: var(--color_shadow) 0 -5px 5px;
}

header, footer {
  padding-block: 5vh;
}

header, main {
  background-color: var(--color_lightestForContrast);
}

header, nav {
  text-align: center;
}

.menu-btn, .dropdown-container > a, .slideshow-container {
  width: 100vw;
}

.menu-btn {
  text-transform: uppercase;
  background-color: var(--color_quaternary);
  color: var(--color_lightestForContrast);
  cursor: pointer;
}

.dropdown-container {
  display: none;
  position: relative;
}

.dropdown-container > a {
  display: block;
  padding-block: 0.75em;
  background-color: var(--color_quinary);
  text-decoration: none;
}

.dropdown-container > a:hover {
  background:var(--color_secondary);
  color: var(--color_lightestForContrast);
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.slideshow-container {
  position: relative;
  height: 40vh;
  overflow: hidden;
  line-height: 0;
  background-color: black;
}

.slides {
  position: absolute;
  width: inherit;
  object-fit: cover;
  object-position: 100% 20%;
  animation: fadein 25s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    filter: blur(1em);
  }  
  30% {
    opacity: 1;
    filter: blur(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide_description {
  visibility: hidden;
}

.menu-btn, article :is(h2, h3, dl) {
  padding-block: 20px;
}

article :is(p, h2, h3, h4, dl) {
  padding-inline: 55px;
}

:is(h2,h3,h4) + p::first-letter {
  font-size: xx-large;
}

article a:last-of-type {
  display: block;
  padding: 15px 30px;
  text-align: right;
}

.about,
.about h2 {
  position: relative;
  color:var(--color_quaternary);
  text-align: center;
  background-color: var(--color_aboutthepage);
}

.foldable {
  max-height: 475px;
  overflow: hidden;
}

.expand_button {
  display: block;
  margin: 0;
  padding-block: 50px;
  width: 100%;
  background: var(--color_aboutthepage);

  cursor: pointer;
}

.hidding_text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-block-start: 100px;

  height: 200px;
  mask-image: linear-gradient(to top, black 75%, transparent 100%);
}

footer, footer .icon-wrapper {
  display: flex;
  justify-content: center;
}

footer {
  align-items: center;
  background: var(--color_quinary);
}

footer .icon-wrapper {
  justify-content: space-evenly;
}

@media screen and (min-width: 955px) {
  body {
    background: var(--color_primary);
  }

  .menu-btn {
    display: none;
  }

  header, .dropdown-container, .slideshow-container, main, footer {
    width: 92vw;
    max-width: 1024px;
  }

  .slideshow-container {
    height: 550px;
  }

  .slideshow-container img {
    width: 100%;
    height: inherit;
  }

  .slide_description {
    visibility: visible;

    position: absolute;
    bottom: 30px;
    right: 0;

    min-width: 350px;
    padding: 1.5em;

    font-size: larger;
    opacity: .9;
    color: var(--color_lightestForContrast);
    background: var(--color_secondary);
    box-shadow: var(--color_shadow) 10px 5px 3px;
    animation: slidein 25s linear;
  }

  @keyframes slidein {
    0% {
      opacity: 0;
      transform: translateX(400px);
    }  
    10% {
      opacity: .9;
      transform: translateX(0);
    }
    90% {
      opacity: .9;
    }
    100% {
      opacity: 0;
    }
  }

  .dropdown-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .dropdown-container > a {
    padding-inline: 10px;
    padding-block: 20px;
    display: flex;
    justify-content: center;
    line-height: 1.25em;
  }

  article :is(p, h2, h3, h4, dl) {
    padding-inline: 100px;
  }

  .about {
    padding-block: 10px;
    padding-inline: 50px;
  }

}